
apiVersion: v1
kind: Secret
metadata:
  name: argocd-notifications-secret
  namespace: argocd
stringData:
  channel-teams-url: https://intelliconnectq.webhook.office.com/webhookb2/de3ea671-d7d1-4732-83fa-0fa42a8eee01@bd0edc69-11ea-4701-85eb-20002872112d/IncomingWebhook/d5158dc1642140448b00fa232162eb65/7276cd65-0735-4c7f-8863-78f9048178be/V26g1kDiZDmjn0ncE-5L9d-WQJl9AfmjALNEzzdAr1x5M1